
<div class="flex-column">
    <h1>Inicio de sesión</h1>
    <form id="loginForm">
        <label for="email">Email</label>
        <input name="email" type="email">
        <label for="password">Contraseña</label>
        <input name="password" type="password">
        <br>
        <input class="btn btn-primary" type="submit">
    </form>
    <div class="gh-button">
        <a class="btn btn-secondary btn-block" href="api/sessions/github">Entrar con GitHub</a>
    </div>
    <span class="flex-row">
        <p>¿No tienes cuenta? </p>
        <a href="/register">Registrate aquí</a>
    </span>
</div>
<script src="/js/login.js"></script>
