<div class="flex-column">
    <h1>Ingrese su mail para recuperar contraseña:</h1>
    <form id="recoverPassForm">
        <label for="email">Email</label>
        <input name="email" type="email">
        <input class="btn btn-primary" type="submit">
        <a class="btn btn-secondary" href="/login">Volver</a>
    </form>
</div>
<script src="/js/forgot.js"></script>