<div class="main-container">
  <a class="brand-title" href="/products">e-commerce 51185</a>
    <div class="content">
    <h1>Ingrese su mail para recuperar contraseña:</h1>
    <form class="forgot-pass-form" id="recoverPassForm">
        <label for="email">Email</label>
        <input name="email" type="email">
        <input class="btn btn-primary mt-2" type="submit">
        <a class="btn btn-secondary" href="/login">Volver</a>
    </form>
</div>
<script src="/js/forgot.js"></script>