<div class="main-container">
  <a class="brand-title" href="/products">e-commerce 51185<a/>
  {{#if message}}
          <h6 style="text-align: center; color: #9eaab6; margin-bottom: 2rem">***Contraseña cambiada correctamente***</h6>
  {{/if}}
  <div class="content">
      <h1 class="mb-4">Inicio de sesión</h1>
      <form id="loginForm">
          <label for="email">Email</label>
          <input name="email" type="email">
          <label for="password">Contraseña</label>
          <input name="password" type="password">
          <input class="btn btn-primary mt-3" type="submit">
      </form>
          <a class="btn btn-secondary mt-3 mb-3" href="api/sessions/github">Entrar con GitHub</a>
      <span class="flex-row" style="height:30px">
          <p style="margin:0px">¿No tienes cuenta? </p>
          <a style="margin:0px" href="/register">Registrate aquí</a>
      </span>
      <a class="forgot-pass-link" href="/forgot-password">Olvidé mi contraseña</a>
  </div>
</div>
<script src="/js/login.js"></script>
<script>
  window.onload = function() {
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get("message");
    if (message === "PasswordSuccessfullyUpdated") {
      alert("¡Contraseña cambiada correctamente!");
    }
  };
</script>
