<div class="flex-column">
    <h1>Registro</h1>
    <form id="registerForm">
        <label for="first_name">Nombre</label>
        <input name="first_name">
        <label for="last_name">Apellido</label>
        <input name="last_name">
        <label for="email">Correo electrónico:</label>
        <input name="email" type="email">
        <label for="age">Edad</label>
        <input name="age" type="number">
        <label for="password">Contraseña</label>
        <input name="password" type="password">
        <input type="submit" class="btn btn-primary">
    </form>
    <span clasS="flex-row">
        <p>¿Ya posee una cuenta? </p><a href="/login">Ingrese aquí</a>
    </span>
</div>
<script src="/js/register.js"></script>