#productsList{
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

#products h1 {
    margin-top: 1em;
}

.product{
    margin-bottom: 2em;
    padding: 1em 1em 1em 3em; 
    width: 30vw;
    border-radius: 1em;
    border-width: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight:200;
    background-color: rgb(243, 243, 243);
}

h2{
    font-size: 12pt !important;
}

h1 {
    font-size: 18pt !important;
    text-align: center;
}

#newProdForm {
    margin-bottom: 2em;
    padding: 1em 1em 1em 3em; 
    display:flex; 
    flex-direction:column; 
    border-style: solid;
    align-items:center;
    width: 30vw;
    border-radius: 1em;
    border-width: 0em;
    background-color: rgb(218, 218, 218);
    text-align: left;
}

#newProdForm button {
    margin-top: 1em;
}

#newProdForm input {
    width: 80%;
}